<div class="personal_nav" th:fragment="personal_nav">
    <ul>
        <li><a th:href="@{personal_info.do}">个人信息</a></li>
        <li><a th:href="@{publish_product.do}">发布商品</a></li>
        <li><a th:href="@{shopping_cart.do}">我的购物车</a></li>
        <li><a th:href="@{my_publish_product_page.do}">我发布的商品</a></li>
        <li><a th:href="@{getMyOrders.do}">我的订单</a></li>
        <li><a th:if="${userInfo.isManager}" th:href="@{admin.do}">管理系统</a></li>
        <li><a th:if="${userInfo.isManager}" th:href="@{edit_announcement.do}">编辑公告</a></li>
        <li><a class="login_out" th:href="@{logout.do}">退出</a></li>
    </ul>
</div>